<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Anuncio Laboral</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}">
</head>

<body>

	<header th:replace="layouts/header :: header"></header>
    <nav th:replace="layouts/nav :: nav"></nav>
        
    <div class="container">       
        <main>
        
        	<form th:action="@{/anuncio/formulario}" method="post" th:object="${anuncio}" class="col-md-9" id="formAnuncio"><!--  -->
			  	<h3 style="padding: 10px">Formulario de Nueva Oferta Laboral</h3>
			  	
			  	<div class="row mb-3">
				    <label for="inputCod" class="col-sm-4 col-md-3 col-form-label">Puesto requerido</label>
				    <div class="col-sm-8 col-md-9">
				    	<input th:field="*{nombreDePuesto}" type="text" class="form-control" id="inputCod" placeholder="Nombre del puesto requerido"><!--   -->
				    	<!-- mostrar el message de error asociado con la validación del código -->
<!-- 				    	<div class="text-danger" th:errors="*{codigo}"></div> -->
				  	</div>
				 </div>		
				<div class="row mb-3">
				    <label for="inputCod" class="col-sm-4 col-md-3 col-form-label">Cantidad de vacantes</label>
				    <div class="col-sm-8 col-md-9">
				    	<input th:field="*{vacantes}" type="number" class="form-control" id="inputCod" placeholder="Número de vacantes"><!--   -->
<!-- 				    	<div class="text-danger" th:errors="*{codigo}"></div> -->
				  	</div>
				 </div>
				 <div class="row mb-3">
				    <label for="inputCod" class="col-sm-4 col-md-3 col-form-label">Descripción del puesto</label>
				    <div class="col-sm-8 col-md-9">
				    	<textarea th:field="*{descripcionPuesto}" class="form-control" id="txtTitulo" rows="4" placeholder="Descripción del puesto"></textarea><!--   -->
<!-- 				    	<div class="text-danger" th:errors="*{codigo}"></div> -->
				  	</div>
				 </div>				 
				 <div class="row mb-3">
				    <label for="cmbCurso" class="col-sm-4 col-md-3 col-form-label">Disponibilidad horaria</label>
				    <div class="col-sm-8 col-md-9">			    
				    <select id="cmbCurso" class="form-select"><!-- th:field="*{curso.codigo}"  -->
				    	<option value="mañana">mañana</option>
				    	<option value="tarde">tarde</option>
				    	<option value="noche">noche</option>
				    	<option value="part-time">part-time</option>
				    	<option value="full-time">full-time</option>
				    	<option value="mañana-tarde">mañana y tarde</option>
				    	<option value="tarde-noche">tarde y noche</option>
				    	<option value="24hs">24 horas</option>
				    	<option value="12hs">12 horas</option>
				    	<option value="8hs">8 horas</option>		    	
				    </select>
				    </div>
				 </div>
				 <div class=" row mb-3">
				    <label for="txtFecha1" class="col-sm-4 col-md-3 col-form-label">Principales tareas</label>
				    <div class="col-sm-8 col-md-9">
				    	<textarea th:field="*{funciones}" class="form-control" id="txtTitulo" rows="6" placeholder="Tareas a realizar"></textarea><!--   -->
<!-- 				    	<div class="text-danger" th:errors="*{fechaInicio}"></div> -->
				    </div>
				 </div>  
				 
				  <div class="row mb-3">
				    <label for="txtFecha2" class="col-sm-4 col-md-3 col-form-label">Requisitos</label>
				    <div class="col-sm-8 col-md-9">
				    	<textarea th:field="*{requisitos}" class="form-control" id="txtTitulo" rows="4" placeholder="Requisitos que se piden"></textarea><!--   -->				    	
<!-- 				    	<div class="text-danger" th:errors="*{fechaCierre}"></div> -->
				    </div>
				  </div>
				  <div class="row mb-3">
				    <label for="cmbEstado" class="col-sm-4 col-md-3 col-form-label">Salario</label>
				    <div class="col-sm-8 col-md-9">		    
				    <input th:field="*{salario}" type="number" class="form-control" id="txtFecha2" placeholder="Monto del salario a ofrecer"><!--  -->
<!-- 				    	<div class="text-danger" th:errors="*{fechaCierre}"></div> -->
				    </div>
				 </div>
				 <div class="row mb-3">
				    <label for="cmbEstado" class="col-sm-4 col-md-3 col-form-label">Beneficios</label>
				    <div class="col-sm-8 col-md-9">
				    	<textarea th:field="*{beneficios}" class="form-control" id="txtTitulo" rows="4" placeholder="Beneficios que se ofrecen"></textarea><!--   -->			    
<!-- 				    	<div class="text-danger" th:errors="*{fechaCierre}"></div> -->
				    </div>
				 </div>
	
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<button class="btn btn-primary me-md-2" type="submit">Enviar</button>
					<button class="btn btn-secondary" type="reset">Cancelar</button>
				</div>
			</form>
        </main>
    </div>
    
    <footer th:replace="layouts/footer :: footer"></footer>
    
</body>
</html>