<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Crear Mi CV</title>
	<link rel="shortcut icon" th:href="@{/images/iconoCV.png}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"	crossorigin="anonymous">
<!--<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}">
</head>

<body class="fondoCiud">

	<header th:replace="layouts/header :: header"></header>
    <nav th:replace="layouts/navCiudadano :: nav"></nav>
        
	<div class="container">	
		<main>
			<div class="col-md-6 offset-md-3">
			<form role="form" th:action="@{/cv/guardar/} + ${ciudadano.id}" method="post" th:object="${curriculum}" id="formCv">
				<h3 class="text-center">Curriculum Vitae</h3>				

				<div class="card traslucido text-white border-white mb-3">
					<div class="card-header">Datos Académicos (Títulos / Carreras)</div>
					<div class="card-body">
						<textarea th:field="*{estudio}" class="form-control" id="txtTitulo" rows="6"></textarea>
						<!-- mostrar el message de error asociado con la validación -->
						<div class="text-danger" th:errors="*{estudio}"></div>					
					</div>
					<div class="card-footer fs-6 fst-italic">
						MesAño(Inicio) - MesAño(Final): Nombre de carrera o de Título - Nombre de Institución - Breve descripción
					</div>
				</div>						
									
				<div class="card traslucido text-white border-white mb-3">
					<div class="card-header">Cursos realizados</div>
					<div class="card-body">
						<textarea th:field="*{curso}" class="form-control" id="txtCurso" rows="6"></textarea>								
					</div>
					<div class="card-footer fs-6 fst-italic">
						MesAño(Inicio) - MesAño(Final): Nombre del curso - Nombre de Institución - Detalles
					</div>
				</div>

				<div class="card traslucido text-white border-white mb-3">
					<div class="card-header">Conocimientos</div>
					<div class="card-body">
						<textarea th:field="*{conocimiento}" class="form-control" id="txtSaber" rows="6"></textarea>							
					</div>
					<div class="card-footer fs-6 fst-italic">Nombre del conocimiento o habilidad que tiene</div>
				</div>
				
				<div class="card traslucido text-white border-white mb-3">
					<div class="card-header">Experiencia Laboral</div>
					<div class="card-body">
						<textarea th:field="*{experienciaLaboral}" class="form-control" id="txtTrabajo" rows="6"></textarea>						
					</div>
					<div class="card-footer fs-6 fst-italic">
						MesAño(Inicio) - MesAño(Final): Nombre del puesto - Lugar de Trabajo - Función
					</div>
				</div>
			
				<div class="card traslucido text-white border-white mb-3">
					<div class="card-header">Carta de Presentación</div>
					<div class="card-body">
						<div class="mb-3">									
							<textarea th:field="*{presentacion}" class="form-control" id="txtCarta" rows="6"></textarea>
						</div>
					</div>
				</div>
				
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<button class="btn btn-primary me-md-2" type="submit">Guardar</button>
					<button class="btn btn-secondary" type="reset">Cancelar</button>
				</div>
					
			</form>
			<a  th:href="@{/cv/guardar/}+ ${ciudadano.id}" 
							 class="btn btn-danger" style="padding-left:15px; padding-right: 15px;">Votar</a>
			</div>
		</main>		
	</div>
	
	<footer th:replace="layouts/footer :: footer"></footer>
	
</body>
</html>