<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registro Ciudadano</title>
    <link rel="shortcut icon" th:href="@{/images/iconoCV.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
 	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}">	
</head>
<body class="fondoCiud">

	<header th:replace="layouts/header :: header"></header>

    <div class="container">      
        <main>
    		<div class="card traslucido text-white col-md-8 offset-md-2">
			       <div class="card-header">
			       		<h4 class="text-center">ALTA CIUDADANO</h4>			       		
			       </div>
			       <div class="card-body">
			       		 <form role="form" th:action="@{/alta/ciudadano}" method="POST" th:object="${ciudadano}" class="form">
							
						 		      <div class="form-group row mb-3">
									    <label for="inputDni" class="col-lg-3 col-form-label form-control-label">DNI</label>
									    <div class="col-lg-9">
									    	<input th:field= "*{name}" type="number" class="form-control" id="inputDni">
									    </div>
									    <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
									  </div>
									  
									  <div class="form-group row mb-3">
									    <label class="col-lg-3 col-form-label form-control-label">Nro_Tramite</label>
									    <div class="col-lg-9">
									    	<input th:field="*{numero_tramite}" type="number" class="form-control">
									    </div>
									    <div class="text-danger" th:if="${#fields.hasErrors('numero_tramite')}" th:errors="*{numero_tramite}"></div>
									  </div>									  
									  
									  <div class="form-group row mb-3">
									    <label class="col-lg-3 col-form-label form-control-label">Email</label>
									    <div class="col-lg-9">
									    	<input th:field="*{email}" type="email" class="form-control" >
									    </div>
									    <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
									  </div>									  
									  
									  <div class="form-group row mb-3">
									    <label class="col-lg-3 col-form-label form-control-label">Estado Civil</label>
									    <div class="col-lg-9">
									    	<select th:field="*{estado_civil}" class="form-control">
												  <option value ="" selected>Seleccione ...</option>
												  <option value="Soltero">Soltero</option>
												  <option value="Casado">Casado</option>
												  <option value="Otro">Otro</option> 
											</select>
									    </div>
									    <div class="text-danger" th:if="${#fields.hasErrors('estado_civil')}" th:errors="*{estado_civil}"></div>
									  </div>									  
									  <!--
									  <div class="form-group row mb-3">
									    <label class="col-lg-3 col-form-label form-control-label">Provincia</label>
									    <div class="col-lg-9">
									    	<input th:field="*{provincia}" type="text" class="form-control" >
									    </div>
									    <div class="text-danger" th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}"></div>
									  </div>-->	
									  
										<div class="form-group row mb-3">
									    <label class="col-lg-3 col-form-label form-control-label">Provincia</label>
									    <div class="col-lg-9">
									    	<select th:field="*{provincia}" class="form-control">
												 <option value="Buenos Aires">Buenos Aires</option>
<option value="Buenos Aires Capital">Buenos Aires Capital</option>
<option value="Catamarca">Catamarca</option>
<option value="Chaco">Chaco</option>
<option value="Chubut">Chubut</option>
<option value="Cordoba">Cordoba</option>
<option value="Corrientes">Corrientes</option>
<option value="Entre Rios">Entre Rios</option>
<option value="Formosa">Formosa</option>
<option value="Jujuy">Jujuy</option>
<option value="La Pampa">La Pampa</option>
<option value="La Rioja">La Rioja</option>
<option value="Mendoza">Mendoza</option>
<option value="Misiones">Misiones</option>
<option value="Neuquen">Neuquen</option>
<option value="Rio Negro">Rio Negro</option>
<option value="Salta">Salta</option>
<option value="San Juan">San Juan</option>
<option value="San Luis">San Luis</option>
<option value="Santa Cruz">Santa Cruz</option>
<option value="Santa Fe">Santa Fe</option>
<option value="Santiago del Estero">Santiago del Estero</option>
<option value="Tierra del Fuego">Tierra del Fuego</option>
<option value="Tucuman">Tucuman</option> 
											</select></div>
											<div class="text-danger" th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}"></div>
									    </div>
																		  
									  
									  <div class="form-group row mb-3">
									    <label class="col-lg-3 col-form-label form-control-label">Telefono</label>
									    <div class="col-lg-9">
									    	<input th:field="*{telefono}" type="tel" class="form-control" >
									    </div>
									    <div class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
									  </div>									  
									  
									  <div class="form-group row mb-3">
									    <label class="col-lg-3 col-form-label form-control-label">Fecha de Nacimiento</label>
									    <div class="col-lg-9">
									    	<input th:field="*{fecha_nac}" type="date" class="form-control" >
									    </div>
									    <div class="text-danger" th:if="${#fields.hasErrors('fecha_nac')}" th:errors="*{fecha_nac}"></div>
									  </div>
									  
									  <div class="form-group row mb-3">
									    <label class="col-lg-3 col-form-label form-control-label">Contraseña</label>
									    <div class="col-lg-9">
									    	<input th:field="*{password}" type="password" class="form-control" >
									    </div>
									    <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
									  </div> 
																		  
									  <br>	
									  									  
									  <div class="col-12" style="margin: auto;">
									  	<a class="btn btn-secondary" th:href="@{/ciudadano/formulario}" >Cancel</a>									    
									    <button type="submit" class="btn btn-primary">guardar</button>
									  </div>
					        </form>   
			          </div>
			     </div>       
       </main>
    </div>
    <br>
    <footer th:replace="layouts/footer :: footer"></footer>
    
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.js" integrity="sha512-TsDUjQW16/G8fz4gmgTOBW2s2Oi6TPUtQ6/hm+TxZZdkQtQrK5xEFIE0rgDuz5Cl1xQU1u3Yer7K5IuuBeiCqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>