<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">-->
</head>

<body>
    <div class="container">
        <header th:replace="layouts/header :: header"></header>
        <nav th:replace="layouts/nav :: nav"></nav>
        <main>
            <h2 class="text-white text-center m-4">Cursos</h2>

            <table class="table table-striped table-dark">
                <tr>
                    <th>codigo</th>
							<th>titulo</th>                    
							<th>categoria</th>
							<th>Inicio</th>
							<th>Docente</th>
							<th>Inscripción</th>
							
                </tr>
             <tr th:each="curso: ${cursos}">
                    <td th:text="${curso.codigo}"></td>
                    <td th:text="${curso.titulo}"></td>
					<td th:text="${curso.categoria}"></td>
					
					
					<td th:text="${curso.fechaInicio}"></td>
					<td th:text="${curso.docente.apellido}"></td>
					
                    <td>
                        <a  class="btn btn-primary">Cursar</a>

                    </td>
                </tr>
            </table>
            <br><br>
            <a class="btn btn-dark">VOLVER</a>

    </div>
    </main>
    <footer th:replace="layouts/footer :: footer"></footer>
    </div>
</body>

</html>