<!DOCTYPE html>
<html lang='es' xmlns:th="http://www.thymeleaf.org">	
<body >
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<div class="container-fluid">
		    <a class="btn btn-outline-danger btn-sm" th:href="@{/login}">
		    	Cerrar Sesión Empleador
		    </a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
		      <ul class="navbar-nav align-items-center">		        
		        <li class="nav-item">
		          <a class="nav-link" href="#">Postulantes</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" th:href="@{/empleador/altaAnuncio}">Crear Anuncio</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" th:href="@{/anuncio/lista}">Ver Anuncios</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" th:href="@{/anuncio/lista}">Editar Perfil</a>
		        </li>		
		      </ul>
		    </div>
		  </div>
     </nav>
</body>
</html>