<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:fragment="navCiudadano">
		<div class="container-fluid">
		    <a class="navbar-brand" href="#">Ciudadano</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
		      <ul class="navbar-nav align-items-center">		        
		        <li class="nav-item">
		          <a class="nav-link" th:href="@{/ciudadano/altaCV}">Crear CV</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" th:href="@{/ciudadano/verCV}">Ver CV</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" th:href="@{/oferta/listado}">Postularse</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">Capacitación</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">Editar Perfil</a>
		        </li>		
		      </ul>
		    </div>
		  </div>
     </nav>
</body>
</html>